In [11]:
from pymongo.mongo_client import MongoClient
uri = "mongodb+srv://jainminalirani:UUSMaFUxolmVSp8a@cluster0.sa4fn2c.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
# Create a new client and connect to the server
client = MongoClient(uri)
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [12]:
database = client["youtubecommunity"]

In [13]:
collection = database["session"]

In [14]:
data = {
    "coursename":"genai",
    "instructor":"sunny",
    "modeofseesion":"english"

}

In [15]:
data

{'coursename': 'genai', 'instructor': 'sunny', 'modeofseesion': 'english'}

In [16]:
collection.insert_one(data)

InsertOneResult(ObjectId('665ea947623efbca0127a5b7'), acknowledged=True)

In [17]:
all_record = collection.find()

In [18]:
for record in all_record:
    print(record)

{'_id': ObjectId('665d771d56b8ec142c6d8c80'), 'coursename': 'genai', 'instructor': 'sunny', 'modeofseesion': 'english'}
{'_id': ObjectId('665d859956b8ec142c6d8c81'), 'coursename': 'genai', 'instructor': 'sunny', 'modeofseesion': 'english'}
{'_id': ObjectId('665d859956b8ec142c6d8c82'), 'coursename': 'mlops', 'instructor': 'sunnysavita', 'modeofseesion': 'english&hindi'}
{'_id': ObjectId('665d881d56b8ec142c6d8c85'), 'coursename': 'genai', 'instructor': 'sunny', 'modeofseesion': 'english'}
{'_id': ObjectId('665d881d56b8ec142c6d8c86'), 'coursename': 'genai', 'instructor': 'sunny', 'modeofseesion': 'english'}
{'_id': ObjectId('665d881d56b8ec142c6d8c87'), 'coursename': 'mlops', 'instructor': 'sunnysavita', 'modeofseesion': 'english&hindi'}
{'_id': ObjectId('665d8b4056b8ec142c6d8c89'), 'coursename': 'genai', 'instructor': 'sunny', 'modeofseesion': 'english'}
{'_id': ObjectId('665d8b4456b8ec142c6d8c8a'), 'coursename': 'genai', 'instructor': 'sunny', 'modeofseesion': 'english'}
{'_id': ObjectId('665d8b4456b8ec142c6d8c8b'), 'coursename': 'mlops', 'instructor': 'sunnysavita', 'modeofseesion': 'english&hindi'}
{'_id': ObjectId('665ea947623efbca0127a5b7'), 'coursename': 'genai', 'instructor': 'sunny', 'modeofseesion': 'english'}

In [19]:
collection.insert_many(
    [
      {
    "coursename":"genai",
    "instructor":"sunny",
    "modeofseesion":"english"

},
{
    "coursename":"mlops",
    "instructor":"sunnysavita",
    "modeofseesion":"english&hindi"

}  
    ]
)

InsertManyResult([ObjectId('665ea948623efbca0127a5b8'), ObjectId('665ea948623efbca0127a5b9')], acknowledged=True)

In [32]:
import pandas as pd
import json 

class mongodb_operation:
    def __init__(self,client_url: str,database_name:str,collection_name: str=None):
        self.client_url = client_url
        self.database_name = database_name
        self.collection_name = collection_name
    
    def create_client(self):
        client = MongoClient(self.client_url)
        return client 

    def create_database(self):
        client = self.create_client()
        database = client[self.database_name]
        return database

    def create_collection(self,collection=None):
        database = self.create_database()
        collection = database[collection]
        return collection

    def insert_record(self,record:dict,collection_name:str):
        if type(record)==list:
            for data in record:
                if type(data)!=dict:
                    raise TypeError("record must be in the dict")
            collection = self.create_collection(collection_name)
            collection.insert_many(record)

        elif type(record)==dict:
            collection = self.create_collection(collection_name)
            collection.insert_one(record)
        
    def bulk_insert(self,datafile:str,collection_name:str=None):
        self.path = datafile

        if self.path.endswith('.csv'):
            data = pd.read_csv(self.path,encoding='utf-8')

        elif self.path.endswith('.xlsx'):
            data = pd.read_excel(self.path,encoding='utf-8')

        datajson = json.loads(data.to_json(orient = 'record'))
        collection = self.create_collection()
        collection.insert_many(datajson)

In [33]:
client_url = "mongodb+srv://jainminalirani:UUSMaFUxolmVSp8a@cluster0.sa4fn2c.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
database = "mynewdatabase"
collection_name = "mynewcollname"

In [34]:
mongo = mongodb_operation(client_url,database,collection_name)

In [35]:
mongo.insert_record({"name":"sunny","designation":"data scientist","salary":"10k"},collection_name)

In [37]:
mongo.insert_record([{"name":"sunny","designation":"data scientist","salary":"10k"},
                     {"name":"minali","designation":"ml engineer","salary":"20k"},
                     {"name":"krish","designation":"senior data scientist","salary":"50k"}
                     ],collection_name)

TypeError: record must be in the dict